---
layout: archive
---
{%- assign locale = page.locale | default: layout.locale | default: site.locale %}

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[locale].recent_posts | default: "Recent Logs" }}</h3>

{% if paginator %}
  {% assign entries = paginator.posts %}
{% else %}
  {% assign entries = site.logs %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for entry in entries %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html locale=locale %}
